/* Fleming CSS framework (by @krdprog). License: MIT */
/* https://github.com/krdprog/fleming */
/* fleming-media.css */

/* < 480 mobile --- 767 */
@media (max-width: 480px) {

  .header__logo {
    text-align: center;
    margin-bottom: 20px;
  }

  .header__right {
    text-align: center;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  .block-sliders__slogan strong {
    font-size: 1.8rem;
  }

  .block-sliders__slogan span {
    font-size: 1.4rem;
    margin-bottom: 80px;
  }

  .copyright {
    margin-bottom: 30px;
  }

  .navigation--fixed {
    position: relative;
  }
}

@media(max-width:767px) {

  .item-one, .item-two, .item-three, .item-four {
    margin-left: -30px;
    margin-right: -30px;
    flex: 1 1 100%;
  }

  .correct-media {
    flex: 1 1 100%;
  }

  /* mobile navigation */
  .navigation {
    font-size: 0.8rem;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
  }

  .navigation__items ul {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    text-align: left;
  }

  .navigation__items ul li {
    background-color: #293148;
    color: #ffffff;
    min-width: 100%;
    padding: 1px 0;
    margin-bottom: 10px;
    border: 3px solid black;
  }

  .navigation__items ul li a {
    color: #000000;
    text-decoration: none;
    margin-left: 10px;
    border-bottom: 0;
  }
}

/* 768 - 1023 */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* 1024 - 1200 */
@media (min-width: 1024px) and (max-width: 1200px) {

}

/* > 1400 */
@media (min-width: 1400px) {

}

/* > 1600 */
@media (min-width: 1600px) {

}


/* > 1800 */
@media (min-width: 1800px) {

}